@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul a {
  text-decoration: none;
  color: grey
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.left-links {
  display: flex;
  gap: 0 18px;
}

.right-links {
  display: flex;
  gap: 0 18px;
}

.logo {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items:last baseline;
  margin-bottom: 10px;
}

.textbox {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 5px;
  align-items: first baseline;
  height: 32.5vh;
}

button {
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: last baseline;
  background-color: #eeeeee;
  flex-wrap: wrap;
}